#addNote {
    position: fixed;
    font-size: 6em;
    bottom:0;
    right:0;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
  }

.note-category-title {
    margin-top: 4.5em;
    opacity: 0.5;
}

.note-category-title:hover {
    opacity: 0.8;
}

.read-more-less {
    color: red;
}

.note-date-and-time {
    opacity: 0.5;
}

.note-date-and-time:hover {
    opacity: 0.8;
}

#btn-color1 {
    background-color: #F0F8FF;
}

#btn-color2 {
    background-color: #FFE4C4;
}

#btn-color3 {
    background-color: #9ACD32;
}