#addNote {
    position: fixed;
    font-size: 6em;
    bottom:0;
    right:0;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    z-index: 999;
  }

.note-container {
    border-radius: 3px;
}

.note-category-title {
    margin-top: 4.5em;
    opacity: 0.5;
}

.note-category-title:hover {
    opacity: 0.8;
}

.read-more-less {
    color: red;
}

.note-date-and-time {
    opacity: 0.5;
}

.note-date-and-time:hover {
    opacity: 0.8;
}