/* options modal style */
.board-background-select {
    background-color: #d6dadc;
    background-size: cover;
    border-radius: 10px;
    display: block;
    height: 60px;
    overflow: hidden;
    position: relative;
    width: 100%;
    display: inline-block;
}

