body {
    background-image: url("/default-background.jpg");
    position: relative;
    background-attachment: fixed;
    transition: background 1s linear;
}

.main-container {
    padding: 0;
    margin-top: 7%;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

img {
    width: 100%;
    
}

.btn span.glyphicon {
	opacity: 0;
}

.btn.active span.glyphicon {
	opacity: 1;
}